<h1><%= @restaurant.name %></h1>

<h3><%= @restaurant.address %></h3>

<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
  <li class="list-group-item"><%= review.rating %> - <%= review.content %></li>
  <% end %>
</ul>

<%= link_to 'Add a review', new_restaurant_review_path(@restaurant) %>
| <%= link_to 'Go back home', restaurants_path %>
